@model BBlog.Models.BlogCategoryViewModel

@{
    ViewBag.Title = "Search";
    ViewBag.PageImage = "//c1.staticflickr.com/8/7705/27169750543_db26705c25_k.jpg";
    ViewBag.Page = "Search Result";
    ViewBag.Class = "category-header";

}
<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
    @foreach (var item in Model.blogs)
    {
        @Html.Partial("_PostSummary", item)
    }
</div>
