@model BBlog.Models.BlogSelectViewModel

@{
    ViewBag.Title = "Search";
    ViewBag.PageImage = "images/search.jpg";
    ViewBag.Page = "Search Result";
    ViewBag.Class = "category-header";

}
<div>
    @foreach (var item in Model.blogs)
    {
        @Html.Partial("_PostSummary", item)
    }
</div>
