@{
    ViewBag.Title = "About me";
}
<div>
    <div style="background-color: #f68a4c;" class="divheader"><span style="color: beige;">About the Website</span></div>
    <div class="vertical-box">
        <p><span style="font-family: arial, helvetica, sans-serif;">This website is inspired by <a style="font-family: 'times new roman', times;" href="http://www.newthinktank.com/" target="_blank"><span style="color: #000000;">New Think Tank</span></a><span style="color: #000000;">, which is a personal blogging site. I found this site a few years ago when I was watching a video about Design Patterns by </span><a style="font-family: 'times new roman', times;" href="https://www.youtube.com/user/derekbanas" target="_blank"><span style="color: #000000;">Derek Banas</span></a><span style="color: #000000;">. He's the author of every single article on New Think Tank. I was impressed by how frequently he has been posting articles during all these years, and hoped I could develop this habit too in that it's not only a platform to share what I learned but also a notebook that keeps track of my life.&nbsp;</span></span></p>
        <p><span style="color: #000000; font-family: arial, helvetica, sans-serif;">Read this article to know more about this website.</span></p>
    </div>
</div>
<div style="background-color: #fec64d;">
    <div class="vertical-box">
    </div>
</div>
<div style="background-color: #00918a;">
        <div class="vertical-box">
        </div>
</div>
<div style="background-color: #b9dfc6;">
        <div class="vertical-box">
        </div>
</div>