@model IEnumerable<BBlog.Models.Blog>
@{
    ViewBag.Title = "Dev";
    //ViewBag.Color = "#f68a4c";
    ViewBag.Page = "Hello";
    //ViewBag.Class = "page-header";
}
<div class="container">
    @foreach (var item in Model)
    {
        @Html.Partial("_PostSummary", item)
    }
</div>