@model IEnumerable<BBlog.Models.Blog>
@{
    ViewBag.Title = "Dev";
    ViewBag.PageImage = "//c1.staticflickr.com/8/7705/27169750543_fe61ca2aee_b.jpg";
    ViewBag.Page = "Hello";
    ViewBag.Class = "page-header";
}
<div class="container">
    @foreach (var item in Model)
    {
        @Html.Partial("_PostSummary", item)
    }
</div>