@model BBlog.Models.Blog
@{
    ViewBag.Title = Model.Title;
    ViewBag.PageImage = "//c1.staticflickr.com/8/7362/13009150674_3c03d3363f_h.jpg";
    ViewBag.Class = "post-header";
}
<div class="container">
    @Html.Partial("_Post") 
</div>
