<div class="sidebar">
    <form asp-controller="Search" asp-action="Archive" method="get">
        <ul class="nav nav-pills nav-stacked">
            <li><button class="form-control" name="monthyear" type="submit" value="Apr 2017">April 2017</button></li>
            <li><button class="form-control" name="monthyear" type="submit" value="Mar 2017">March 2017</button></li>
        </ul>
    </form>
    <hr />
    <form asp-controller="Search" asp-action="Index" method="get">
        <div class="input-group">
            <input type="text" name="searchString" class="form-control" asp-controller="Search" asp-action="Index" placeholder="Search" />
            <span class="input-group-btn">
                <button class="btn" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </form>
    <hr />
    <ul class="nav nav-pills nav-stacked ">
        <li><a asp-controller="Home" asp-action="Dev">Dev</a></li>
        <li><a asp-controller="Home" asp-action="Recipe">Recipe</a></li>
        <li><a asp-controller="Home" asp-action="Game">Game</a></li>
        <li><a asp-controller="Home" asp-action="Roam">Roam</a></li>
        <li><a asp-controller="Home" asp-action="About">About</a></li>
    </ul>
</div>
