<div class="sidebar">
    <img src="~/images/header.jpg" style="height: auto; max-width:100%; border-bottom: solid 6px #ffffff; border-top-left-radius: 4px; border-top-right-radius: 4px;" />
    <div style="max-width:100%; height: 200px; background-color: #fed1bb; z-index: 0; border-bottom-left-radius:4px; border-bottom-right-radius: 4px;">
        <div style="width: 80px; height: 80px; position: relative; margin: auto; top: -45px;">
            <img src="~/images/avatar.jpg" style="max-width: 100%; height: auto; border-radius: 50%; position: absolute;" />
        </div>
        <div style="text-align: center; position: relative; top: -30px;">
            <p><span style="font-family: Comic Sans MS, cursive, sans-serif; font-size: 16px; color: #714242;">Mengqiao Li</span></p>
        </div>
    </div>
    <hr />
    <div style="padding: 2%; background-color: #fed1bb; border-radius: 4px;">
        <h4 style="text-align: center;">Category</h4>
        <div class="ajaxcall">
            <a style="margin: 1px 0" class="form-control btn btn-default" href="@Url.Action("Blog", "Home", new { blogCategory = "Dev" })">Dev</a>
            <a style="margin: 1px 0" class="form-control btn btn-default" href="@Url.Action("Blog", "Home", new { blogCategory = "Game" })">Game</a>
            <a style="margin: 1px 0" class="form-control btn btn-default" href="@Url.Action("Blog", "Home", new { blogCategory = "Recipe" })">Recipe</a>
            <a style="margin: 1px 0" class="form-control btn btn-default" href="@Url.Action("Blog", "Home", new { blogCategory = "Roam" })">Roam</a>
        </div>
    </div>
    <hr />
    <div>
        <form asp-controller="Search" asp-action="Index" method="get">
            <div class="input-group">
                <input type="text" name="searchString" class="form-control" asp-controller="Search" asp-action="Index" placeholder="Search" />
                <span class="input-group-btn">
                    <button class="btn" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
    <hr />
    <div style="padding: 2%; background-color: #fed1bb; border-radius: 4px;">
        <h4 style="text-align: center;">Archive</h4>
        <form asp-controller="Search" asp-action="Archive" method="get">
            <ul class="nav nav-pills nav-stacked">
                <li><button class="form-control" name="monthyear" type="submit" value="Apr 2017">April 2017</button></li>
                <li><button class="form-control" name="monthyear" type="submit" value="Mar 2017">March 2017</button></li>
            </ul>
        </form>
    </div>
    <hr />
</div>
