@model IEnumerable<BBlog.Models.Blog>
@{
    ViewBag.Title = "Home";
    ViewBag.PageImage = "//c1.staticflickr.com/9/8870/28345670214_ddd934896b_b.jpg";
    ViewBag.Page = "Hello";
    ViewBag.Class = "intro-header";
}

<p class="pager">
    @if (ViewBag.HasPreviousPage)
    {
        <a class="prev" href="@Url.Action("Index", "Home", new { page = ViewBag.PreviousPage })">
            &lt; Previous
        </a>
    }

    @if (ViewBag.HasNextPage)
    {
        <a class="next" href="@Url.Action("Index", "Home", new { page = ViewBag.NextPage })">
            Next &gt;
        </a>
    }
</p>

<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
    @foreach (var item in Model)
    {
        @Html.Partial("_PostSummary", item)
    }
</div>
<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    @Html.Partial("_SideBar")
</div>

<hr />
