.logo {
    width: 50px;
    margin: 5px 10px 0px 0px;
}

.intro-header {
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
.category-header {
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.post-header {
    height: 50px;
    background-color: #333;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.intro-body {
    margin: 0 15%;
    color: beige;
    position: absolute;
    left: 0;
    bottom: 20%;
    z-index: 10;
}

.intro-action {
    color: #e7e6d6;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10%;
}

.intro-none {
   margin: 50px 0px 0px 0px;
}

.navbar-nav > li > a {
    color: white;
}

.navbar-fixed-top {
    background-color: transparent;
    border: none;
}

.navbar-fixed-top.scrolled {
    background-color: #333 !important;
    transition: background-color .5s linear;
}

.search-bar {
    background-color: transparent;
}

.postsum {
    padding: 0px 20px;
}
.postsum:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.subinfo {
    color: #808080;
}

.vertical-box {
    margin: auto;
    padding: 2% 6%;
}
.inline-space {
    margin: 0px 8px 0px 3px;
}
.divheader {
    font-family: helvetica;
    padding: 1% 3%;
    font-size: x-large;
}

a {
    color: #0f3b82;
}

footer {
    color: #9d9d9d;
    background-color: #333;
    padding: 15px 0 5px;
    text-align: center
}

.sidebar {
    padding: 10% 5%;
}

.share-buttons {
    margin: 20px;
}
